body {
  background: white; }

span {
  background: black; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 200%;
  text-align: center; }

hr {
  display: block;
  margin-top: 0;
  margin-bottom: 5%;
  width: 65%;
  border-width: 1px;
  background-color: black; }

.h1-light {
  font-weight: 100; }

.logo {
  width: 10%; }

.logo-text {
  width: 60%;
  margin-left: 5%; }

.navbar-brand {
  width: 70%; }

.navbar-toggler {
  border: none; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='5' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.profile-img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto; }

.designer-item {
  width: 42.5%;
  margin-top: 6%; }

.designer-name {
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  margin-top: 5%;
  font-weight: 700; }

.designer-field {
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  margin-top: 3%;
  font-weight: 300; }
