$bg-color: white;
$f-sans: 'Montserrat', sans-serif;
$f-serif: 'Playfair Display', serif;

body{
	background: $bg-color;
	position: relative;
}
span{
	background: black;
}
h1{
	font-family: $f-sans;
	font-weight: 700;
	font-size: 200%;
	text-align: center;
}
h3,h4{
	text-align: center;
	color: black;
}
hr { 
    display: block;
	margin-top: 0;
	margin-bottom: 5%;
	width: 65%;
    border-width: 1px;
    background-color: black;
}
a{
	color: #D98648;
}
a:hover{
	color: #D98648;
}
p {
	margin-bottom: 0px;
}
.content{
	min-height: 100vh;
}
.h1-light{
	font-weight: 100;
}
.logo{
	width: 10%;
}
.logo-text{
	width: 60%;
	margin-left: 5%;
}
.navbar-brand{
	width: 70%;
}
.navbar-toggler{
	border: none;
}
.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='5' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.profile-img, .profile-img-lg {
	position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
.profile-img-lg{
	width: auto;
	height: auto;
}

.designer-item {
	width: 42.5%;
	margin-top: 6%;
	display: flex;
	margin-left: 5%;

}
.designer-name{
	font-family: $f-sans;
	font-size: 80%;
	margin-top: 5%;
	font-weight: 700;
}
.designer-field{
	font-family: $f-sans;
	font-size: 80%;
	font-weight: 300;
}
.btn{
	font: $f-sans;
	font-weight: 200;
	font-size: 80%;
	border-radius: 0;
}
.group-wrapper{
	 background-color: #343a40;
}

//menu thingy
.nav-link{
	color: black;
	font: $f-sans;
	font-weight: 200;
}

// .pos-f-t{
// 	position: relative;
// }
// #navbarToggleExternalContent{
// 	position: absolute;
// 	background-color: #343a40;
// 	width: 100%;
// 	top:100%;
// 	left:0;
// 	z-index: 100;
// }

.project-img{
	width: 100%;
}
.project-wrapper{
	position: relative;
}
.project-desc{
	color: white;
	z-index: 10;
}
.text-overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.8));
	height: 45%;
	padding: 7%;
	padding-top: 20%;
}
.stats-wrapper{
	width: 50%;
}
.designer-header{
	font-size: 22px;
}
.designer-role{
	font-family: $f-sans;
	font-weight: 500;
	font-size: 18px;
}
.designer-loc{
	font-family: $f-sans;
	font-weight: 200;
	font-size: 14px;
}
.marker{
	height: 13px;
	margin-right: 3px;
}
.user-stats-label{
	font-family: $f-sans;
	font-weight: 300;
	font-size: 13px;
}
.user-stats-data{
	font-family: $f-sans;
	font-weight: 500;
	font-size: 13px;
}
.about-wrapper{
	width: 80%;
}
.about{
	text-transform: uppercase;
	font-family: $f-sans;
	font-weight: 600;
	font-size: 10px;
	text-align: left;
}
.about-details{
	font-family: $f-serif;
	font-weight: 400;
	font-size: 12px;
}
.tab{
	background-color: white;
	//border: solid #807E7E 2px;
	//border-top: none;
	// -webkit-box-shadow: 2px 46px 32px -12px rgba(0,0,0,0.48);
	// -moz-box-shadow: 2px 46px 32px -12px rgba(0,0,0,0.48);
	// box-shadow: 2px 46px 32px -12px rgba(0,0,0,0.48);
-webkit-box-shadow: 2px 33px 35px -14px rgba(0,0,0,0.69);
-moz-box-shadow: 2px 33px 35px -14px rgba(0,0,0,0.69);
box-shadow: 2px 33px 35px -14px rgba(0,0,0,0.69);

}
.filler-block{
	//border-top: solid 2px #807E7E ;
-webkit-box-shadow: inset 17px 47px 50px -77px rgba(0,0,0,0.75);
-moz-box-shadow: inset 17px 47px 50px -77px rgba(0,0,0,0.75);
box-shadow: inset 17px 47px 50px -77px rgba(0,0,0,0.75);
}
.pull-down{
	//display: relative;
	position: absolute;
	z-index: 100;
	width: 100%;

}

#displayPerson{
	background-color: #fff;
	padding-bottom: 2px;


}
.tab-wrapper{
	//position: absolute;
	// top:13%;
	// left:35%;
	// z-index: 20;
}
.project-title{
	font-weight: 700;
	font-size: 100%;
}
.project-details{
	font-family: $f-serif;
	width: 70%;
	font-size: 80%;
	text-align: justify;
}
.project-stats-wrapper{
	width:70%;

}
.stat-item{
	margin-right: 15%;
}
.stat-icon{
	width: 24px;
	height: 24px;
	margin-right: 15%;
}
.pull-indicator{
	height: 30px;
	width: 100%;
	padding-top: 5%;
}
.indicator-line{
	display: block;
	margin-top: 0;
	margin-bottom: 5%;
	width: 65%;
    border-width: 1px;
    background-color: #D98648;
}
.stats-data{
	font-family: $f-sans;
	font-weight: 700;
	font-size: 14px;
}
.footer{
	background-color: #343a40;
	padding: 20px;
	bottom: 0;
	left: 0;
	width: 100%;
}
.footer-text{
	color: white;
	font-family: $f-sans;
	font-weight: 100;
	font-size: 10px;
}
.footer-logo{
	width: 60%;
}



.modal-backdrop{
	display: none;
}
.modal{
	background-color: rgba(0,0,0,0.5);
}






